/*Navbar*/

#sidenav-overlay {
  z-index: 150
}

nav {
  background-color: #EDEDED;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: #38b8c8;
  color: rgba(255, 255, 255, 0.87);
}


/*Submenu*/

.txtAeraSubmenu {
  width: 80%;
}

.btnValid {
  float: right;
}

.columnAdmin {
  width: 70%;
  margin-top: 20px;
}


/*.SwitchvalidSubmenu {
  vertical-align: middle;
  display: inline-block;
}*/

.tabsSubmenu md-content {
  background-color: transparent !important;
}

.tabsSubmenu md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
}

md-tabs .md-tab.md-active {
  color: #4c959e;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  color: #dcf84e;
  background: #dcf84e;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #4c959e;
}

md-input-container.md-input-focused {
  color: #4c959e;
  border-color: #4c959e;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #4c959e;
}

md-select-menu md-content md-option[selected] {
  color: #4c959e;
}

.md-button.md-raised {
  color: white;
  background-color: #4c959e;
}

.md-button.md-raised:not([disabled]):hover {
  background-color: #4c959e;
  color: black;
}

md-select-menu md-content md-option[selected]:focus {
  color: #4c959e;
}

md-select:not([disabled]):focus .md-select-value {
  border-bottom-color: #4c959e;
}

.md-button.md-raised {
  color: #dcf84e;
  background-color: #4c959e;
}

.md-button.md-default-theme.md-primary, .md-button.md-primary {
  color: #4c959e;
}

.tabsSubmenu md-content md-tabs md-tabs-wrapper {
  background: white;
}

.tabsSubmenu md-content h1:first-child {
  margin-top: 0;
}

.btnListSubmenu {
  margin-top: 22px;
}

.headListSubmenu {
  margin-left: 15px;
}

.btnRetour {
  color: #dcf84e;
  float: right;
}

.switch {
  margin: 0;
}
.displayText {
  vertical-align: middle;
}

.statusBrouillon {
  padding: 7px;
  margin-right: 9px;
  margin-top: 28px;
  background-color: #9E9E9E;
  color: white;
  border-radius: 6%;
}
.statusPublie {
  padding: 7px 16px;
  margin-right: 9px;
  margin-top: 28px;
  background-color: #009688;
  color: white;
  border-radius: 6%;
}


/*nexs*/

.formEditNews {
  margin-top: 7%;
}


/*upload*/

.thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  top: 7px;
}

form .progress {
  line-height: 15px;
}

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

.addImage {
  border: 1px solid #e1e1e1;
  background-color: #f6f6f6;
  padding-left: 10px;
  /*display: inline-block;*/
}


/*modal galerie images*/

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: #000000;
  opacity: 0.6;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index: 10000;
  position: absolute;
  width: 50%;
  /* Default */
  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
  padding: 10px;
  text-align: left;
}

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.btnInsert {
  line-height: 0px !important;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.listImages {
  margin-top: 15px;
  max-height: 95px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.backgroundGalerieImages {
  margin-top: 1.5em;
}


/*.blocBtnGalerie {
  border-top: 1px solid #009688;
}*/

.imgGallery {
  display: inline-block;
  width: 177px;
  background-color: rgb(253, 223, 233);
  margin-right: 3px;
}

.btnInsertImg {
  text-align: center;
}

.md-button.md-ehpad-theme.md-fab:focus {
  color: black;
}

.pdfGallery {
  display: inline-block;
  width: 177px;
  min-height: 250px;
  background-color: rgb(253, 223, 233);
  margin-right: 3px;
}

.namePdf {
  text-align: center;
}

.linkPdf {
  text-decoration: none;
  color: inherit;
}


/*end modal*/

.imgAssociatePreview {
  width: 150px;
  vertical-align: middle;
}

.blocButtonsImg {
  margin-top: 30px;
  border-top: 1px solid #009688;

  }

/********* Home Page *********/
body {
  background-color: #F5F4F4;
}

md-content.md-ehpad-theme {
  background-color: #F5F4F4;
}

#titleBox {
  height: 300px;
  width: 600px;
  position: absolute;
  z-index: 1;
  background-color: white;
  opacity: 0.7;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-70%);
}
#h3{
font-size: 25px;
color: #265B7E;
}
#h1 {
font-size: 45px;
color: #265B7E;
}

/****** menu ******/

#menu {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#greenButton {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  background-color: #ABE852;
  color: white;
  font-size: 20px;
}

#pinkButton {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  background-color: #FF7ED3;
  color: white;
  font-size: 20px;
  margin-right: 60px;
}

#blueButton {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  background-color: #76EAFF;
  color: white;
  font-size: 20px;
  margin-left: 60px;
}
#greenButton:hover {
  opacity: 0.7;
}
#pinkButton:hover {
  opacity: 0.7;
}
#blueButton:hover {
  opacity: 0.7;
}

.material-icons {
  color: white;
}

#admissionSubmenu {
  background-color: white;
  font-size: 20px;
}

#sejourSubmenu {
  background-color: white;
  font-size: 20px;
}

#droitSubmenu {
  background-color: white;
  font-size: 20px;
}
#admissionSubmenu:hover {
  color: #FF7ED3;
}
#sejourSubmenu:hover {
  color: #ABE852;
}
#droitSubmenu:hover {
  color: #76EAFF;
}
#pinkContent {

}

#greenContent {

}

#blueContent {
background-color: white .5;
}

/***** Map *****/

#map {
margin : 10px 10px 10px 10px;
border-radius: 5px 5px 5px 5px;
}

/***** Contact *****/

#contact {
  margin : 10px 10px 10px 10px;
  height: 300px;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 4px 4px 4px #CACACA;
}

#contactContent {
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  margin-top: 22px;
}

#contactButton {
  background-color: #F1F1F1;
  display: block;
  margin : auto;
  width: 140px;
  height: 40px;
  font-size: 15px;

}

#contactButton:hover {
background-color: #E5E5E5;
}

#contactLink {
  text-decoration: none;
  color: black;
}

/***** Actu *****/

#actu {
  margin : 10px 10px 10px 10px;
  height: 500px;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 4px 4px 4px #CACACA;
}
#newsDisplay {
  margin : 10px 10px 10px 10px;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 4px 4px 4px #CACACA;
}

#listNewsDisplay {
  margin : 10px 10px 10px 10px;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 4px 4px 4px #CACACA;
}

/***** Agenda *****/

#agenda {
  margin : 10px 10px 10px 10px;
  height: 500px;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 4px 4px 4px #CACACA;
}


/*List Slider*/
.imgGallerySlideShow {
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 95px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.imgListSlideShow {
  width: 250px;
  margin: auto;
}
.btnListSlideshow {
  margin: auto;
  margin-left: 10px;
}
/*slider end*/


/*Slideshow home*/
.swiper-container {
width: 100%;
height: 650px;
position: relative;
}

.swiper-slide {
max-width: 100%;
}

.swiper-image{
  width:100%;
}

/***** Footer *****/

#footer {
  height:  100px;
  background-color: #265B7E;
  position: relative;
}
.footerLink {
  position: absolute;
  bottom: 0;
  right: 0;
  color : white;
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 15px;
}

.footerLink:hover {
  text-decoration: underline;
  font-size: 17px;

}


/*page formulary*/
.formTitle{
  text-align: center;
}

.formInput{
  width: 75%;
  text-align: center;
  margin-left: 10%;
  font-size: 19px;
}
.formMessage{
  width: 75%;
  text-align: center;
  margin-left: 10%;
  font-size: 19px;
}
.obligation{
  font-style: oblique;
  font-weight: bold;
}
.boxForm{
  margin: 20px;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 60px;
}
.formBtn{
  float: right;
  margin-top: 25px;
}
.timer{
  float: right;
  margin: 20px;
  width: 250px;
  height: 100px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  box-shadow: 10px 10px 5px #888888;
  background-color: #fafafa;
}

.imgTimer{
  width: 100%;
  height: 100%;

}

.timerDate{
  position: absolute;
  margin-top: 15px;
  margin-left: 30px;
}
