/*Navbar*/

#sidenav-overlay {
  z-index: 150
}

nav {
  background-color: #be0d55;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: #38b8c8;
  color: rgba(255, 255, 255, 0.87);
}


/*Submenu*/

.txtAeraSubmenu {
  width: 80%;
}

.btnValid {
  float: right;
}

.columnAdmin {
  width: 70%;
  margin-top: 20px;
}


/*.SwitchvalidSubmenu {
  vertical-align: middle;
  display: inline-block;
}*/

.tabsSubmenu md-content {
  background-color: transparent !important;
}

.tabsSubmenu md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
}

md-tabs .md-tab.md-active {
  color: #4c959e;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  color: #dcf84e;
  background: #dcf84e;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #4c959e;
}

md-input-container.md-input-focused {
  color: #4c959e;
  border-color: #4c959e;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #4c959e;
}

md-select-menu md-content md-option[selected] {
  color: #4c959e;
}

.md-button.md-raised {
  color: white;
  background-color: #4c959e;
}

.md-button.md-raised:not([disabled]):hover {
  background-color: #4c959e;
  color: black;
}

md-select-menu md-content md-option[selected]:focus {
  color: #4c959e;
}

md-select:not([disabled]):focus .md-select-value {
  border-bottom-color: #4c959e;
}

.md-button.md-raised {
  color: #dcf84e;
  background-color: #4c959e;
}

.md-button.md-default-theme.md-primary, .md-button.md-primary {
  color: #4c959e;
}

.tabsSubmenu md-content md-tabs md-tabs-wrapper {
  background: white;
}

.tabsSubmenu md-content h1:first-child {
  margin-top: 0;
}

.btnListSubmenu {
  margin-top: 22px;
}

.headListSubmenu {
  margin-left: 15px;
}

.btnRetour {
  color: #dcf84e;
  float: right;
}


/*nexs*/

.formEditNews {
  margin-top: 7%;
}


/*upload*/

.thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  top: 7px;
}

form .progress {
  line-height: 15px;
}

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

.addImage {
  border: 1px solid #e1e1e1;
  background-color: #f6f6f6;
  padding-left: 10px;
  /*display: inline-block;*/
}


/*modal galerie images*/

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: #000000;
  opacity: 0.6;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index: 10000;
  position: absolute;
  width: 50%;
  /* Default */
  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
  padding: 10px;
  text-align: left;
}

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.btnInsert {
  line-height: 0px !important;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.listImages {
  margin-top: 15px;
  max-height: 95px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.backgroundGalerieImages {
  margin-top: 1.5em;
}


/*.blocBtnGalerie {
  border-top: 1px solid #009688;
}*/

.imgGallery {
  display: inline-block;
  width: 177px;
  background-color: rgb(253, 223, 233);
  margin-right: 3px;
}

.btnInsertImg {
  text-align: center;
}

.md-button.md-ehpad-theme.md-fab:focus {
  color: black;
}

.pdfGallery {
  display: inline-block;
  width: 177px;
  min-height: 250px;
  background-color: rgb(253, 223, 233);
  margin-right: 3px;
}

.namePdf {
  text-align: center;
}

.linkPdf {
  text-decoration: none;
  color: inherit;
}


/*end modal*/

.imgAssociatePreview {
  width: 150px;
  vertical-align: middle;
}

.blocButtonsImg {
  margin-top: 30px;
  border-top: 1px solid #009688;
}

/*Slider*/
/*@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;*/
}
/*slider end*/
