/*Navbar*/

#sidenav-overlay {
    z-index: 150
}

nav {
    background-color: #be0d55;
}


/*Submenu*/

.txtAeraSubmenu {
    width: 80%;
}

/*.columnAdmin {
    min-width: 700px;
}*/

.SwitchvalidSubmenu {
    vertical-align: middle;
    display: inline-block;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
}

.tabsSubmenu md-content {
    background-color: transparent !important;
}

.tabsSubmenu md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
}

.tabsSubmenu md-content md-tabs md-tabs-wrapper {
    background: white;
}

.tabsSubmenu md-content h1:first-child {
    margin-top: 0;
}
.btnListSubmenu {
  margin-top: 22px;
}
.headListSubmenu {
  margin-left: 15px;
}
