<div layout-sm="column" layout-align="center center" class="colFront">
  <div class="cards">
    <md-content class="md-padding">
      <div layout="column" layout-gt-xs="row">

        <md-card flex flex-gt-xs="70">
          <md-card-content>

            <h1>{{news.title}}</h1>
            <img class="imgAssociateDisplayNews" ng-src="/{{news.image}}" alt="">
            <p ng-bind-html="news.content"></p>
          </md-card-content>
        </md-card>

        <md-card flex>
          <h2 class="cardTitle">Toutes les actualités</h2>
          <md-card-content>
            <md-list class="md-3-line" ng-repeat="news in listNewsAnon | orderBy: '-date' | startFrom:currentPageNews*pageSizeNews | limitTo:pageSizeNews">
              <h5 class="cardDateEvenement">Postée le {{news.date | date : 'longDate'}}</h5>
              <h3 class="cardLink cardTitleEvenement"><a ui-sref="anon.displaynews({id: news._id})">{{news.title}}</a></h3>
              <img style="width: 150px" ng-src="/{{news.image}}">


              <md-divider ng-if="!$last"></md-divider>
            </md-list>
            <section class="blocBtnGalerie" layout="row" layout-align="center center" md-theme="anon">
              <md-button class="md-fab md-mini btnListSubmenu" aria-label="Eat cake" ng-disabled="currentPageNews == 0" ng-click="currentPageNews=currentPageNews-1">
                <md-icon><i class="material-icons">keyboard_arrow_left</i></md-icon>
              </md-button>

              <div class="pagingGalerieImages">{{currentPageNews+1}}/{{numberOfPagesNews()}}</div>
              <md-button class="md-fab md-mini btnListSubmenu" aria-label="Eat cake" ng-disabled="currentPageNews >= listNewsAnon.length/pageSizeNews - 1" ng-click="currentPageNews = currentPageNews+1">
                <md-icon><i class="material-icons">keyboard_arrow_right</i></md-icon>
              </md-button>
            </section>
          </md-card-content>
        </md-card>
      </div>

    </md-content>


  </div>
</div>
<footer id=footer>
  <a ui-sref="anon.login" ng-hide="auth.isAuthenticated()" class="footerLink">Login</a>
  <a ui-sref="user.dashboard" ng-show="auth.isAuthenticated()" class="footerLink">Dashboard</a>
  <a ng-click="logout()" ng-show="auth.isAuthenticated()" href='#' class="footerLink">Logout</a>
</footer>
