
<div class="cards">


  <md-content class="md-padding">
    <div layout="column" layout-gt-xs="row">

      <md-card flex flex-gt-xs="60">
        <h2>Actualité</h2>
        <md-card-content>
          <div>
            <h3>{{sumbenu.menu}}</h3>
            <h1>{{submenu.title}}</h1>
            <p ng-bind-html="submenu.content"></p>
          </div>
        </md-card-content>
      </md-card>
      <md-card flex>
        <h2>Agenda</h2>
        <md-card-content>
          <p>Some content</p>
        </md-card-content>
      </md-card>
    </div>

  </md-content>


</div>

<footer id=footer>
  <a ui-sref="anon.login" ng-hide="auth.isAuthenticated()" class="footerLink">Login</a>
  <a ui-sref="user.dashboard" ng-show="auth.isAuthenticated()" class="footerLink">Dashboard</a>
  <a ng-click="logout()" ng-show="auth.isAuthenticated()" href='#' class="footerLink">Logout</a>
</footer>
