<footer id=footer>
    <div class="footerList" layout="row" layout-align="center" flexible>
        <ul>
          <h5>Votre Admission</h5>
          <li ng-repeat="Submenu in listSubmenusAnon | filter: {menu: 'Votre admission'}"><a ui-sref="anon.displaysubmenu({id: Submenu._id})">{{Submenu.title}}</a></li>
        </ul>

        <ul>
            <h5>Votre Séjour</h5>
            <li ng-repeat="Submenu in listSubmenusAnon | filter: {menu: 'Votre séjour'}"><a ui-sref="anon.displaysubmenu({id: Submenu._id})">{{Submenu.title}}</a></li>
        </ul>

        <ul>
          <h5>Vos Droits</h5>
          <li ng-repeat="Submenu in listSubmenusAnon | filter: {menu: 'Vos droits'}"><a ui-sref="anon.displaysubmenu({id: Submenu._id})">{{Submenu.title}}</a></li>
        </ul>
        <ul>
          <h5>Actualités</h5>
          <li ng-repeat='news in listNewsAnon track by $index'ng-show="$last"><a ui-sref="anon.displaynews({id: news._id})">Les actualités</a></li>
        </ul>
    </div>

<br>
<br>
    <p class="copyright">© EHPAD SENONCHES <a ui-sref="anon.displaylegalnotice">Mentions Légales</a><br>
      Site réaliser par <span style="font-style: oblique; font-weight: bold;"><a href="https://wildcodeschool.fr/">la Wild Code School.</a></span><br>
      (T.Même, V.Nicolas, J.Couard)</p>
    <a ui-sref="anon.login" ng-hide="auth.isAuthenticated()" class="footerLink">Login Admin</a>
    <a ui-sref="user.submenu" ng-show="auth.isAuthenticated()" class="footerLink">Dashboard</a>
    <a ng-click="logout()" ng-show="auth.isAuthenticated()" href='#' class="footerLink">Logout</a>
</footer>
