<p>DATE: <span id=heure></span></p>

<div layout="row" class="contactForm">
  <div flex>
    <form ng-submit="sendMail()">
    <md-input-container>
      <label>Votre adresse mail</label>
      <input ng-model="mail.email" type="mail">
    </md-input-container><br>
    <md-input-container>
      <label>Votre nom</label>
      <input ng-model="mail.name" type="text">
    </md-input-container><br>
    <md-input-container>
      <label>Sujet</label>
      <input ng-model="mail.subject" type="text">
    </md-input-container><br>
    <md-input-container>
      <label>Votre message</label>
      <textarea ng-model="mail.message" name="name" rows="8" cols="80"></textarea>
    </md-input-container><br>
    <md-button class="md-primary md-raised" type="submit">Envoyer le mail</md-button>
  </form>
  </div>
</div>
