
<!-- <div class="timer">
  <p class="timerDate">
    <span id=heure></span><br><br>
    <span id=heure2></span>
  </p>
</div> -->


<!-- <md-content class="boxForm" flex layout-padding>
<div layout="row" class="contactForm">
  <div flex> -->
<md-content class="md-padding">
  <div layout="column" layout-gt-xs="row" layout-align="center center" md-theme="anon">
    <md-card flex flex-gt-xs="80">
      <md-card-content>

        <h2 class="formTitle" id="formTitle">Formulaire à remplir pour nous contacter:</h2>
        <form ng-submit="sendMail()">
          <md-input-container class="formInput">
            <label>Votre adresse email</label>
            <input required ng-model="mail.email" type="email" name="user_email">
          </md-input-container><br>
          <md-input-container class="formInput">
            <label>Votre nom</label>
            <input required ng-model="mail.name" type="text">
          </md-input-container><br>
          <md-input-container class="formInput">
            <label>Sujet</label>
            <input required ng-model="mail.subject" type="text">
          </md-input-container><br>
          <md-input-container class="formMessage">
            <label>Votre message</label>
            <textarea required ng-model="mail.message" name="name" rows="8" cols="80"></textarea>
          </md-input-container><br>
          <div layout="row" class="formBtn">
            <md-button class="md-primary md-raised" id="send" type="submit">Envoyer le mail</md-button>
          </div>
        </form>

        <p class="obligation">* Champ obligatoire</p>


      </md-card-content>
    </md-card>
  </div>

</md-content>

<footer id=footer>
  <a ui-sref="anon.login" ng-hide="auth.isAuthenticated()" class="footerLink">Login</a>
  <a ui-sref="user.dashboard" ng-show="auth.isAuthenticated()" class="footerLink">Dashboard</a>
  <a ng-click="logout()" ng-show="auth.isAuthenticated()" href='#' class="footerLink">Logout</a>
</footer>
