<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <form class="form" name="loginForm" novalidate ng-submit="login()">
            <div ng-repeat="error in errors">{{error.error}}</div>
            <md-input-container class="md-block" flex-gt-sm>
            <input id="email" type="email" class="form-control" ng-model="user.email" required placeholder="Adresse eMail">
          </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <input id="password" type="password" class="form-control" ng-model="user.password" required placeholder="Mot de passe">
              </md-input-container>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>
</div>
