<ks-swiper-container
    class="swiper-container"
    ng-if='listImgSlideShow.length>0'
    on-ready="onReadySwiper(swiper)"
    swiper = "swiper"
    override-parameters="{'autoplayPaused':'false'}"
    slides-per-view="1"
    slides-per-column="1"
    space-between="0"
    show-nav-buttons="true"
    pagination-is-active="true"
    loop="true"
    speed= 1000
    autoplay= 3500
    initial-slide="0">
    <ks-swiper-slide class="swiper-slide" ng-repeat="img in listImgSlideShow | orderBy: '-date'">
        <img class="swiper-image" ng-src="/uploads/imageslarges/{{img.name}}" alt>
    </ks-swiper-slide>
</ks-swiper-container>
  <div id="titleBox">
    <a ui-sref="anon.home"id="h3link"><h3 id="h3">EHPAD SENONCHES</h3></a>
    <a ui-sref="anon.home" id="h1link"><h1 id="h1">RESIDENCE PERIER</h1></a>
  </div>
