<ks-swiper-container
    class="swiper-container"
    ng-if='listImgSlideShow.length>0'
    on-ready="onReadySwiper(swiper)"
    swiper = "swiper"
    override-parameters="{'autoplayPaused':'false'}"
    slides-per-view="1"
    slides-per-column="1"
    space-between="0"
    show-nav-buttons="false"
    loop="true"
    speed= 2000
    autoplay= 3500
    initial-slide="0">

    <ks-swiper-slide class="swiper-slide" ng-repeat="img in listImgSlideShow | orderBy: '-date'">
        <img class="swiper-image" ng-src="/uploads/imageslarges/{{img.name}}" alt>
    </ks-swiper-slide>

</ks-swiper-container>
<div id="titleBox">
  <h3 id="h3">EHPAD SENONCHES</h3>
  <h1 id="h1">RESIDENCE PERIER</h1>
</div>
