<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>A Simple Responsive HTML Email</title>
        <style type="text/css">
        body {
          margin: 0;
          padding: 0;
          min-width: 100%!important;
        }

        .content {
          width: 100%;
          max-width: 600px
        }

        .linkMail{
          font-style: italic;

        }
        a {
          text-decoration: none;
          color: green;
        }

        h1{
          font-style: italic;
          word-spacing: 10px;
          padding: 10px;
          text-decoration: underline;
        }
        table{
          width:100%;
          text-align: center;
        }
        .mailEmail{
          font-size: 25px;
          padding: 10px;
        }
        .mailMessage{
          font-size: 18px;
          padding: 40px;
          text-align: justify;
          border: 1px solid;
        }
        </style>
    </head>
    <body>

      <h1>EHPAD SENONCHES RESIDENCE PERIER </h1>
      <table>
        	<tr>
          <td class="mailEmail">
          Message envoyé par {{variable2}}<br>
          <br>
           via l'adresse <span class="linkMail">{{variable1}}</span>
          </td>
        </tr>
          <tr>
            <h2>Message:</h2>
          </tr>
          <td class="mailMessage"><br>
          {{variable3}}
          </td>
          </table>
    </body>
</html>
