<div layout="column" layout layout-align="space-around center">
  <div>
  <md-button class="md-primary md-raised btnRetour" ng-click='redirectCreateCalendar()' >Créer une actualité</md-button>
  </div>
  <div class="columnAdmin">

    <div ng-cloak class="tabsEvenement">
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Vos évènements">
            <md-list>
              <md-list-item class="md-3-line" ng-repeat="evenement in evenements | orderBy: '-date'">
                <div class="md-list-item-text listEvents" id="listEvent">
                  <h4>{{evenement.date | date: "dd-MM-yyyy"}}</h4>
                  <h4>{{evenement.title}}</h4>
                  <h4>{{evenement.start | date:'shortTime'}}</h4>
                  <h4>{{evenement.end | date:'shortTime'}}</h4>
                </div>

                <md-button class="md-fab md-mini btnList" ng-if="evenement.isOnline" ng-disabled="true" title="En ligne" aria-label="Eat cake">
                  <md-icon><i class="material-icons">done</i></md-icon>
                </md-button>
                <md-button class="md-fab md-mini">
                  <a ng-href="/#!/user/evenements/{{evenement._id}}">
                    <md-icon><i class="material-icons md-18">create</i></md-icon>
                  </a>
                </md-button>
                <md-button class="md-fab md-mini" ng-click="showConfirm($event, evenement._id)">
                  <md-icon><i class="material-icons" title="Supprimer">delete</i></md-icon>
                </md-button>
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>
</div>
