<div layout="column" layout layout-align="space-around center">
  <div class="columnAdmin">

    <form ng-submit="addContact()" layout="column">
      <md-input-container>
        <p><label>Nom</label>
          <input required ng-model="contact.name"></p>
      </md-input-container>
      <md-input-container>
        <p><label>Adresse</label>
          <input required ng-model="contact.street"></p>
      </md-input-container>
      <md-input-container>
        <p><label>Code postal</label>
          <input required ng-model="contact.zipcode"></p>
      </md-input-container>
      <md-input-container>
        <p><label>Commune</label>
          <input required ng-model="contact.city"></p>
      </md-input-container>
      <md-input-container>
        <p><label>Téléphone</label>
          <input required ng-model="contact.phone"></p>
      </md-input-container>

      <div layout='row'>
        <md-button class="md-primary md-raised" type="submit">Valider</md-button>
      </div>

    </form>
  </div>
</div>
