<div layout="column" layout layout-align="space-around center">
  <div class="columnAdmin">
    <form method="post" ng-submit="addSubmenu()">
      <div ng-cloak>
        <md-input-container>
          <label>Menu</label>
          <md-select ng-model="newSubmenu.menu">
            <md-option ng-repeat="menu in menus" value="{{menu}}">{{menu}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Nouveau sous-menu</label>
        <input ng-model="newSubmenu.title">
      </md-input-container>
      <textarea ui-tinymce="tinymceOptions" ng-model="newSubmenu.content"></textarea>
      <div>
        <div class="inset">
          <md-switch ng-model="newSubmenu.isOnline" ng-if='user.isAdmin' aria-label="status">
            <span ng-if='newSubmenu.isOnline'>Publié</span>
            <span ng-if='!newSubmenu.isOnline'>Brouillon</span>
          </md-switch>
        </div>
        <md-button class="md-primary md-raised" type="submit">Valider</md-button>
        <md-button class="md-primary md-raised" ng-click='OpenModalgallery()'>insérer une image</md-button>
        <md-button class="md-primary md-raised" ng-click='OpenModalUploadImg()'>Télécharger une image</md-button>
      </div>
    </form>

    <!-- Modal gallery images-->
    <modal-dialog show='galleryModalShown' width='750px'>
      <md-list-item class="md-3-line" ng-repeat="image in listimages | orderBy : 'fileName':true | startFrom:currentPage*pageSize | limitTo:pageSize">
        <div class="md-list-item-text">
          <p>url : /uploads/images/{{image.fileName}}</p>
        </div>
        <img ng-src="/uploads/images/{{image.fileName}}" class="listImages">
        <md-button class="md-fab md-mini btnCopy" title="Copier" ng-click-copy="/uploads/images/{{image.fileName}}"><i class="material-icons">content_copy</i></md-button>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
      <section class="blocBtnGalerie" layout="row" layout-align="center center">
        <md-button class="md-fab md-mini btnListSubmenu" aria-label="Eat cake" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
          <md-icon><i class="material-icons">keyboard_arrow_left</i></md-icon>
        </md-button>
        <div class="pagingGalerieImages">{{currentPage+1}}/{{numberOfPages()}}</div>
        <md-button class="md-fab md-mini btnListSubmenu" aria-label="Eat cake" ng-disabled="currentPage >= listimages.length/pageSize - 1" ng-click="currentPage=currentPage+1">
          <md-icon><i class="material-icons">keyboard_arrow_right</i></md-icon>
        </md-button>
      </section>
    </modal-dialog>
    <!-- End Modal gallery images-->

    <!-- Upload img -->
    <modal-dialog show='UploadImgModalShown' width='750px' height='30%'>
      <div class="addImage" ng-controller="SubmenuController">
        <form name="upload_form">
          <input type="file" ngf-select ng-model="image.file" name="file" ngf-pattern="'.jpg'" accept="image/*" ngf-max-size="10MB" ngf-resize="{width: 500}" />
          <img style="width:100px;" ngf-thumbnail="image.file || '/thumb.jpg'" />
          <i ng-show="upload_form.file.$error.required">*required</i><br>
          <i ng-show="upload_form.file.$error.maxSize">Image trop large
              {{image.file.size / 1000000|number:1}}MB: max 10MB</i>
          <md-button class="md-primary md-raised" type="submit" ng-click="uploadImage()">Envoyer</md-button>
          <p>{{image.progress}}
        </form>
      </div>
    </modal-dialog>
    <!-- End Upload img -->

  </div>
</div>
