<div layout="column" layout layout-align="space-around center">
  <div class="columnAdmin">
    <form method="post" ng-submit="addNews()">
      <div ng-cloak>
        <md-input-container>
          <label>Nouvelle actualité</label>
          <input ng-model="newNews.title">
        </md-input-container>
      </div>
      <textarea ui-tinymce="tinymceOptions" ng-model="newNews.content"></textarea>
      <div>
        <div layout='row'>
          <md-switch flex='80' class="switch" ng-model="newNews.isOnline" ng-if='user.isAdmin' aria-label="status">
            <span ng-if='newNews.isOnline'>Publié</span>
            <span ng-if='!newNews.isOnline'>Brouillon</span>
          </md-switch>
          <md-button class="md-primary md-raised btnValid" type="submit">Valider</md-button>
        </div>

        <div class="row">
          <div class="blocButtonsImg" flex="50">
            <h2>Gestion des images</h2>
            <md-button class="md-primary md-raised" ng-click='OpenModalUploadImg()'>Ajouter</md-button>
            <md-button class="md-primary md-raised" ng-click='OpenModalgalleryInsert()'>insérer</md-button>
            <md-button class="md-primary md-raised" ng-click='OpenModalgalleryAssociate()'>{{newNews.image ? 'Dissocier' : 'Associer'}}</md-button>
            <img class='imgAssociatePreview' ng-show='newNews.image' ng-src="/{{newNews.image}}">
          </div>
          <div flex="33">
            <h2>Gestion des pdf</h2>
            <md-button class="md-primary md-raised" ng-click='OpenModalUploadPdf()'>Ajouter</md-button>
          </div>
        </div>
      </div>
    </form>

    <!-- Modal gallery images insert-->
    <modal-dialog show='galleryInsertModalShown' width='750px'>
      <div class="imgGallery" ng-repeat="image in listimages | orderBy : 'fileName':true | startFrom:currentPage*pageSize | limitTo:pageSize">
        <img ng-src="/uploads/images/{{image.fileName}}" class="listImages">
        <div class="btnInsertImg">
          <md-button class="md-fab md-mini btnInsert" ng-click='insertImg(image.fileName)' title="Insérer"><i class="material-icons">input</i></md-button>
          <md-divider ng-if="!$last"></md-divider>
        </div>
      </div>
      <section class="blocBtnGalerie" layout="row" layout-align="center center">
        <md-button class="md-fab md-mini btnListSubmenu" aria-label="Eat cake" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
          <md-icon><i class="material-icons">keyboard_arrow_left</i></md-icon>
        </md-button>

        <div class="pagingGalerieImages">{{currentPage+1}}/{{numberOfPages()}}</div>
        <md-button class="md-fab md-mini btnListSubmenu" aria-label="Eat cake" ng-disabled="currentPage >= listimages.length/pageSize - 1" ng-click="currentPage=currentPage+1">
          <md-icon><i class="material-icons">keyboard_arrow_right</i></md-icon>
        </md-button>
      </section>
    </modal-dialog>
    <!-- End Modal gallery images insert-->

    <!-- Modal gallery images associate-->
    <modal-dialog show='galleryAssociateModalShown' width='750px'>
      <div class="imgGallery" ng-repeat="image in listimages | orderBy : 'fileName':true | startFrom:currentPage*pageSize | limitTo:pageSize">
        <img ng-src="/uploads/images/{{image.fileName}}" class="listImages">
        <div class="btnInsertImg">
          <md-button class="md-fab md-mini btnInsert" ng-click='associateImg(image.fileName)' title="Associer"><i class="material-icons">add_to_photos</i></md-button>
          <md-divider ng-if="!$last"></md-divider>
        </div>
      </div>
      <section class="blocBtnGalerie" layout="row" layout-align="center center">
        <md-button class="md-fab md-mini btnListSubmenu" aria-label="Eat cake" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
          <md-icon><i class="material-icons">keyboard_arrow_left</i></md-icon>
        </md-button>

        <div class="pagingGalerieImages">{{currentPage+1}}/{{numberOfPages()}}</div>
        <md-button class="md-fab md-mini btnListSubmenu" aria-label="Eat cake" ng-disabled="currentPage >= listimages.length/pageSize - 1" ng-click="currentPage=currentPage+1">
          <md-icon><i class="material-icons">keyboard_arrow_right</i></md-icon>
        </md-button>
      </section>
    </modal-dialog>
    <!-- End Modal gallery imagesassociate -->

    <!-- Upload img -->
    <modal-dialog show='UploadImgModalShown' width='750px' height='30%'>
      <div class="addImage" ng-controller="SubmenuController">
        <form name="upload_form">
          <input type="file" ngf-select ng-model="image.file" name="file" ngf-pattern="'.jpg'" accept="image/*" ngf-max-size="10MB" ngf-resize="{width: 500}" />
          <img style="width:100px;" ngf-thumbnail="image.file || '/thumb.jpg'" />
          <i ng-show="upload_form.file.$error.required">*required</i><br>
          <i ng-show="upload_form.file.$error.maxSize">Image trop large
              {{image.file.size / 1000000|number:1}}MB: max 10MB</i>
          <md-button class="md-primary md-raised" type="submit" ng-click="uploadImage()">Envoyer</md-button>
          <p>{{image.progress}}
        </form>
      </div>
    </modal-dialog>
    <!-- End Upload img -->
  </div>


</div>
