<div layout="column" layout-align-gt-sm="space-around center">
    <div class="columnAdmin">
      <md-button class="md-primary md-raised btnRetour" ng-click='redirect()' >Retour à la liste des sous-menus</md-button>

    <form method="post" ng-submit="updateSubmenu()">
        <div ng-cloak>
            <md-input-container style="margin-right: 10px;">
                <label>Menu</label>
                <md-select ng-model="submenu.menu">
                    <md-option ng-repeat="menu in menus" value="{{menu}}">{{menu}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Nouveau sous-menu</label>
            <input ng-model="submenu.title">
        </md-input-container>
        <textarea ui-tinymce="tinymceOptions" ng-model="submenu.content"></textarea>
        <div>
            <div class="inset SwitchvalidSubmenu">
                <md-switch ng-model="submenu.isOnline" aria-label="status">
                    En ligne
                </md-switch>
            </div>
            <md-button class="md-primary md-raised" type="submit">Mettre à jour</md-button>
        </div>
    </form>
  </div>
</div>
