<div layout="column" layout-align-gt-sm="space-around center">
    <div class="columnAdmin">
    <form method="post" ng-submit="updateEvenement()">
      <div layout-gt-xs="row">
        <div flex-gt-xs>
          <h3>Modification d'un évènement :</h3>

          <md-input-container>
            <p><label>Nouveau titre</label>
              <input ng-model="evenement.title"></p>
          </md-input-container>

          <p>L'évènement aura lieu le
            <md-datepicker ng-model="evenement.date" md-placeholder="Enter date" md-open-on-focus></md-datepicker> .</p>
          <p>L'évènement débute à
            <input ng-model="evenement.start" type="time" name="myTime2" class="time-mm-hh" />
             et se termine à
             <input ng-model="evenement.end" type="time" name="myTime2" class="time-mm-hh" />.</p>

          <md-content layout-gt-sm="row" layout-padding>
            <md-input-container class="md-block" id="content">
              <label>Ecrire votre actualitée ici!</label>
              <textarea ng-model="evenement.content" rows="5" md-select-on-focus></textarea>
            </md-input-container>
          </md-content>

          <div class="inset SwitchvalidEvenement">
            <md-switch ng-if='user.isAdmin' ng-model="evenement.isOnline" aria-label="status">
              En ligne
            </md-switch>
            </div>

            <md-button class="md-primary md-raised" type="submit" ng-click='redirect()'>Mettre à jour</md-button>
        </div>
    </form>
  </div>
</div>
