<div layout="column" layout-align-gt-sm="space-around center">
    <div class="columnAdmin">
    <form method="post" ng-submit="updateSubmenu()">
        <div ng-cloak>
            <md-input-container style="margin-right: 10px;">
                <label>Menu</label>
                <md-select ng-model="submenu.menu">
                    <md-option ng-repeat="menu in menus" value="{{menu}}">{{menu}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <input type="text" class="form-control" ng-model='submenu.title'>
        <textarea ui-tinymce="tinymceOptions" ng-model="submenu.content"></textarea>
        <div>
            <div class="inset SwitchvalidSubmenu">
                <md-switch ng-model="newSubmenu.isOnline" aria-label="status">
                    En ligne
                </md-switch>
            </div>
            <md-button class="md-raised" type="submit">Mettre à jour</md-button>
        </div>
    </form>
  </div>
</div>
