<div layout="column" layout layout-align="space-around center">
  <div class="columnAdmin">

    <form ng-submit="addlegalnotice()" layout="column">

      <md-input-container>
        <label>Nom de domaine</label>
          <input required ng-model="legal.name"></input>
      </md-input-container>

      <md-input-container>
        <label>Propriétaire (nom propre ou entreprise)</label>
        <input required ng-model="legal.company"></input>
      </md-input-container>

      <md-input-container>
        <label>Statut du propriétaire (SARL numéro siret)</label>
          <input required ng-model="legal.status"></input>
      </md-input-container>

      <md-input-container>
        <label>Adresse du propriétaire (n° et rue)</label>
          <input required ng-model="legal.companyaddress"></input>
      </md-input-container>

      <md-input-container>
        <label>Code postal du propriétaire</label>
          <input required ng-model="legal.companyzipcode"></input>
      </md-input-container>

      <md-input-container>
        <label>Commune du propriétaire</label>
          <input required ng-model="legal.companycity"></input>
      </md-input-container>

      <md-input-container>
        <label>responsable de publication (personne en charge des mises a jour du contenu)</label>
          <input required ng-model="legal.publisher"></input>
      </md-input-container>

      <md-input-container>
        <label>Contact email du responsable de publication </label>
          <input required ng-model="legal.mailpublisher"></input>
      </md-input-container>

      <md-input-container>
        <label>Hébergeur du site</label>
          <input required ng-model="legal.host"></input>
      </md-input-container>

      <md-input-container>
        <label>Adresse de l'hébergeur (n° et rue)</label>
          <input required ng-model="legal.hostaddress"></input>
      </md-input-container>

      <md-input-container>
        <label>Code postal de l'hébergeur</label>
          <input required ng-model="legal.hostzipcode"></input>
      </md-input-container>

      <md-input-container>
        <label>Commune de l'hébergeur</label>
          <input required ng-model="legal.hostcity"></input>
      </md-input-container>

      <div layout='row'>
        <md-button class="md-primary md-raised" type="submit">Valider</md-button>
      </div>

    </form>


  </div>
</div>
