<md-toolbar id="navbarUser" hide show-gt-sm flex>
  <div class="md-toolbar-tools">
    <a ui-sref="user.submenu">
      <md-button aria-label="Go Back">
        Sous-menus
      </md-button>
    </a>
    <a ui-sref="user.welcome">
      <md-button aria-label="Go Back" ng-if="user.isAdmin">
        Bienvenue
      </md-button>
    </a>
    <a ui-sref="user.news">
      <md-button aria-label="Go Back">
        Actualités
      </md-button>
    </a>
    <a ui-sref="user.calendar">
      <md-button aria-label="Go Back">
        Agenda
      </md-button>
    </a>
    <a ui-sref="user.slideshow">
      <md-button aria-label="Go Back">
        Carrousel
      </md-button>
    </a>
    <a ui-sref="user.contact">
      <md-button aria-label="Go Back" ng-if="user.isAdmin">
        Contact
      </md-button>
    </a>
    <a ui-sref="user.users">
      <md-button aria-label="Go Back" ng-if="user.isAdmin">
        Utilisateurs
      </md-button>
    </a>
    <a ui-sref="user.legalnotice">
      <md-button aria-label="Go Back" ng-if="user.isAdmin">
        Mentions
      </md-button>
    </a>
    <span flex></span>
    <a ng-click="logout()" ng-show="auth.isAuthenticated()" ui-sref="anon.home" id="logoutNav">
      <md-button aria-label="Go Back">
        Logout
      </md-button>
    </a>
  </div>
</md-toolbar>
<md-toolbar id="navbarUser" hide-gt-sm>
  <div class="md-toolbar-tools">
    <md-button ng-click="toggleLeft()" ng-hide="isOpenLeft()"><i class="material-icons">menu</i></md-button>
  </div>
</md-toolbar>

<!-- start slide menu -->
<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
  <md-toolbar class="md-theme-light">
    <h1 class="sideTitle">MENU</h1>
  </md-toolbar>
  <md-content layout-padding>
    <ul class="sideLeft">
      <li>
        <md-button ng-click="close()" aria-label="Go Back">
          <a ui-sref="user.submenu">Sous-menus</a></md-button>
      </li>
      <li>
        <md-button ng-click="close()" aria-label="Go Back">
          <a ui-sref="user.welcome">Bienvenue</a></md-button>
      </li>
      <li>
        <md-button ng-click="close()" aria-label="Go Back">
          <a ui-sref="user.news">Actualités</a></md-button>
      </li>
      <li>
        <md-button ng-click="close()" aria-label="Go Back">
          <a ui-sref="user.calendar">Agenda</a></md-button>
      </li>
      <li>
        <md-button ng-click="close()" aria-label="Go Back">
          <a ui-sref="user.slideshow">Carrousel</a></md-button>
      </li>
      <li>
        <md-button ng-click="close()" aria-label="Go Back">
          <a ui-sref="user.contact">Contact</a></md-button>
      </li>
      <li>
        <md-button ng-click="close()" aria-label="Go Back" ng-if="user.isAdmin">
          <a ui-sref="user.users">Utilisateurs</a></md-button>
      </li>
      <li>
        <md-button ng-click="close()" aria-label="Go Back" ng-if="user.isAdmin">
          <a ui-sref="user.legalnotice">Mentions</a></md-button>
      </li>
      <li>
        <md-button aria-label="Go Back">
          <a ng-click="logout()" ng-show="auth.isAuthenticated()" ui-sref="anon.home">Logout</a></md-button>
      </li>
      </div>
    </ul>
    <!-- <div class="btnClose">
      <md-button ng-click="close()">
        Fermer
      </md-button>
    </div> -->
  </md-content>
</md-sidenav>
<!-- end slide menu -->
