<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a ui-sref="user.submenu">Sous-menus</a></li>
                <li><a ui-sref="user.news">Actualités</a></li>
                <li><a ui-sref="user.calendar">Agenda</a></li>
                <li><a ui-sref="user.users">Utilisateurs</a></li>
                <li><a ng-click="logout()" href='#'>Logout</a></li>

            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a ui-sref="user.submenu">Sous-menus</a></li>
                <li><a ui-sref="user.news">Actualités</a></li>
                <li><a ui-sref="user.calendar">Agenda</a></li>
                <li><a ui-sref="user.users">Utilisateurs</a></li>
                <li><a ng-click="logout()" href='#'>Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
