<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button aria-label="Go Back">
      <a ui-sref="user.submenu">Sous-menus</a></md-button>
    <md-button aria-label="Go Back">
      <a ui-sref="user.news">Actualités</a></md-button>
    <md-button aria-label="Go Back">
      <a ui-sref="user.calendar">Agenda</a></md-button>
    <md-button aria-label="Go Back">
      <a ui-sref="user.slideshow">carrousel</a></md-button>
    <md-button aria-label="Go Back">
      <a ui-sref="user.users">E-mail</a></md-button>
    <md-button aria-label="Go Back" ng-if="user.isAdmin">
      <a ui-sref="user.users">Utilisateurs</a></md-button>

    <!-- <md-truncate style="position: absolute; left: 90px; right: 170px; top: 13px; bottom: 13px;">Toolbar with Standard Buttons</md-truncate> -->

    <span flex></span>
    <!-- <md-button class="md-raised" aria-label="Learn More">
            Guide
        </md-button> -->
    <!-- <md-button class="md-fab md-mini" aria-label="Favorite">

            <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
        </md-button> -->
  </div>

</md-toolbar>
