<div layout="column" layout layout-align="space-around center">
  <div>
  <md-button class="md-primary md-raised btnRetour" ng-click='redirectCreateNews()' >Créer un événement</md-button>
  </div>


  <div class="columnAdmin">
    <div ng-cloak class="tabsSubmenu">
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Vos Actualités">
            <md-list>
              <md-list-item class="md-3-line" ng-repeat="news in listNews | orderBy: '-date'">
                <div class="md-list-item-text">
                  <h4>Créé le {{news.date | date : 'medium'}}</h4>
                  <h4>{{news.title}}</h4>
                </div>

                <md-button class="md-fab md-mini btnList" ng-if="news.isOnline" ng-disabled="true" title="En ligne" aria-label="Eat cake">
                  <md-icon><i class="material-icons">done</i></md-icon>
                </md-button>
                <md-button class="md-fab md-mini" aria-label="Eat cake">
                  <a ng-href="/#!/user/news/{{news._id}}">
                    <md-icon><i class="material-icons md-18" title="Editer">create</i></md-icon>
                  </a>
                </md-button>
                <md-button class="md-fab md-mini" ng-click="showConfirm($event, news._id)" ng-if="user.isAdmin">
                  <md-icon><i class="material-icons md-18" title="Supprimer">delete</i></md-icon>
                </md-button>
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>
</div>
