<div layout="column" layout layout-align="space-around center">
  <div>
    <md-button class="md-primary md-raised btnRetour" ng-click='redirectCreateSubmenu()'>Créer un sous-menu</md-button>
  </div>
  <div class="columnAdmin">
    <div ng-cloak="" class="tabsSubmenu">
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom="">
          <md-tab label="Votre admission">
            <md-list>
              <h2 class="headListSubmenu">Votre admission</h2>
              <md-list-item class="md-3-line" ng-repeat="Submenu in listSubmenu | filter: {menu: 'Votre admission'} | orderBy: '-date'">
                <div class="md-list-item-text">
                  <h4>Créé le {{Submenu.date | date : 'medium'}}</h4>
                  <h4>Par&nbsp;{{Submenu.author.Firstname}}&nbsp;{{Submenu.author.Name}}</h4>
                  <h4>{{Submenu.title}}</h4>
                </div>
                <h5 class='statusPublie' ng-if="Submenu.isOnline">Publié</h5>
                <h5 class='statusBrouillon' ng-if="!Submenu.isOnline">Brouillon</h5>
                <md-button class="md-fab md-mini btnListSubmenu" aria-label="Eat cake" title="Editer">
                  <a ui-sref="user.edit-submenu({id: Submenu._id})">
                    <md-icon><i class="material-icons md-18">create</i></md-icon>
                  </a>
                </md-button>
                <md-button class="md-fab md-mini btnListSubmenu" ng-if='user.isAdmin' title="Supprimer" ng-click="showConfirm($event, Submenu._id)">
                  <md-icon><i class="material-icons">delete</i></md-icon>
                </md-button>
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
          </md-tab>
          <md-tab label="Votre séjour">
            <md-content class="md-padding">
              <md-list>
                <h2>Votre séjour</h2>
                <md-list-item class="md-3-line" ng-repeat="Submenu in listSubmenu | filter: {menu: 'Votre séjour'} | orderBy: '-date'">
                  <div class="md-list-item-text">
                    <h4>Créé le {{Submenu.date | date : 'medium'}}</h4>
                    <h4>Par&nbsp;{{Submenu.author.Firstname}}&nbsp;{{Submenu.author.Name}}</h4>
                    <h4>{{Submenu.title}}</h4>
                  </div>
                  <h5 class='statusPublie' ng-if="Submenu.isOnline">Publié</h5>
                  <h5 class='statusBrouillon' ng-if="!Submenu.isOnline">Brouillon</h5>
                  <md-button class="md-fab md-mini btnListSubmenu" aria-label="Eat cake">
                    <a ui-sref="user.edit-submenu({id: Submenu._id})">
                      <md-icon><i class="material-icons md-18">create</i></md-icon>
                    </a>
                  </md-button>
                  <md-button class="md-fab md-mini btnListSubmenu" ng-if='user.isAdmin' title="Supprimer" ng-click="showConfirm($event, Submenu._id)">
                    <md-icon><i class="material-icons">delete</i></md-icon>
                  </md-button>
                  <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
              </md-list>
            </md-content>
          </md-tab>
          <md-tab label="Vos droits">
            <md-content class="md-padding">
              <md-list>
                <h2>Vos droits</h2>
                <md-list-item class="md-3-line" ng-repeat="Submenu in listSubmenu | filter: {menu: 'Vos droits'} | orderBy: '-date'">
                  <div class="md-list-item-text">
                    <h4>Créé le {{Submenu.date | date : 'medium'}}</h4>
                    <h4>Par&nbsp;{{Submenu.author.Firstname}}&nbsp;{{Submenu.author.Name}}</h4>
                    <h4>{{Submenu.title}}</h4>
                  </div>
                  <div>
                    <h5 class='statusPublie' ng-if="Submenu.isOnline">Publié</h5>
                    <h5 class='statusBrouillon' ng-if="!Submenu.isOnline">Brouillon</h5>
                  </div>
                  <md-button class="md-fab md-mini btnListSubmenu" aria-label="Eat cake">
                    <a ui-sref="user.edit-submenu({id: Submenu._id})">
                      <md-icon><i class="material-icons md-18">create</i></md-icon>
                    </a>
                  </md-button>
                  <md-button class="md-fab md-mini btnListSubmenu" ng-if='user.isAdmin' title="Supprimer" ng-click="showConfirm($event, Submenu._id)">
                    <md-icon><i class="material-icons">delete</i></md-icon>
                  </md-button>
                  <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
              </md-list>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>
</div>
