Création des sous-Menus
<div class="container txtAeraSubmenu">
    <form method="post" ng-submit="addSubmenu()">
        <div ng-cloak>
            <md-input-container style="margin-right: 10px;">
                <label>Menu</label>
                <md-select ng-model="newSubmenu.menu">
                    <md-option ng-repeat="menu in menus" value="{{menu}}">{{menu}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <input type="text" class="form-control" placeholder="Nouveau sous-menu" ng-model='newSubmenu.title'>
        <textarea ui-tinymce="tinymceOptions" ng-model="newSubmenu.content"></textarea>
        <button class="btn" type="submit">Valider</button>
    </form>
</div>
<div class="container">
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Votre admission">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Votre admission</h1>
                        <table>
                            <tr>
                                <th>Date de création</th>
                                <th>Titre du sous-menu</th>
                            </tr>

                            <tr class="listSubmenu" ng-repeat="Submenu in listSubmenu | filter: {menu: 'admission'} | orderBy: '-date'">
                                <td class="">{{Submenu.date | date : 'medium'}}</td>
                                <td class="">{{Submenu.title}}</td>

                                <td class="">{{}}</tb>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="Votre séjour">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Votre séjour</h1>
                        <table>
                            <tr>
                                <th>Date de création</th>
                                <th>Titre du sous-menu</th>
                            </tr>

                            <tr class="listSubmenu" ng-repeat="Submenu in listSubmenu | filter: {menu: 'sejour'} | orderBy: '-date'">
                                <td class="">{{Submenu.date | date : 'medium'}}</td>
                                <td class="">{{Submenu.title}}</td>

                                <td class="">{{}}</tb>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="Vos droits">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Vos droits</h1>
                        <table>
                            <tr>
                                <th>Date de création</th>
                                <th>Titre du sous-menu</th>
                            </tr>

                            <tr class="listSubmenu" ng-repeat="Submenu in listSubmenu | filter: {menu: 'droits'} | orderBy: '-date'">
                                <td class="">{{Submenu.date | date : 'medium'}}</td>
                                <td class="">{{Submenu.title}}</td>

                                <td class="">{{}}</tb>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>
