<div layout="column" layout layout-align="space-around center">
  <div class="columnAdmin">
    <div ng-cloak class="tabsSubmenu">
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Liste des utilisateurs">
            <md-list>
              <md-list-item class="md-3-line" ng-repeat="user in listUsers">
                <div class="md-list-item-text">
                  <h4>{{user.Firstname}} {{user.Name}}</h4>
                </div>
                <md-button class="md-fab md-mini" ng-click="showConfirm($event, user._id)">
                  <md-icon><i class="material-icons md-18" title="Supprimer">delete</i></md-icon>
                </md-button>
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>
  <md-button class="md-primary md-raised" ng-if="user.isAdmin" <a ui-sref="admin.register">Creer nouvel utilisateur</a>
  </md-button>
</div>
